/*Fixes */
body.admin-menu .navbar-fixed-top {top:20px;}

html { 
  background: url(/sites/all/themes/fyberoptik/images/thatlondon.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
body{background-color:transparent;}
/*
a.logo {max-width:50%;}
a.logo > img {width:100%;}


.node-page >h2>a{padding-top:100px;font-size:2em;color: #ebebeb;}
 h1.page-header {padding-top:100px;font-size:5em;color: #ebebeb;}
.home > h2 {font-size: 3em;color: #ebebeb;}
h1, h2 {text-shadow: #c6c6c6 0em 0em 0.1em}

*/

.footer {border-top:solid 0px;}

/* color Module */
#navbar, ol.breadcrumb, .group-header, .group-left, .group-right {background-color: rgba(180,180,180,0.7);}

.group-left, .group-right {padding:10px 0; }
.group-left >div, .group-right>div, h2.field-name-title-field   {margin:15px;}

.region-footer{background-color: #1f1f1f;}

/* Navbar */

#navbar {border:0;}
.navbar-default .navbar-nav>li>a {color:#f2f2f2;}
.navbar-default .navbar-nav>li>a:hover {color:#e2dfdf;}


.region-footer{padding:15px;}

/* Logo */
a.logo >img {height:35px;}

/* Canvas Area*/
img#pixelT{width:90%;margin:0 5%}
canvas{
   position: absolute;
   top: 200px;
   left: 0;
    margin-left: 25%;
    margin-right: 25%;   
    width: 50%;
   height: auto;
}
canvas_save{
   position: absolute;
   top: 200px;
   left: 0;
    margin-left: 25%;
    margin-right: 25%;   
    width: 50%;
   height: auto;
}
#canvasContainer {}